{% extends 'base.html' %} {% block container %}
<div id="login-signup">
  <a href="{{ url_for('login') }}" class="form-active">Log In</a>
  <a href="{{ url_for('signup') }}">Sign Up</a>
</div>

<form method="POST" action="{{ url_for('login') }}" id="login-signup-form">
  <div>
    <label for="fusername">Username</label><br />
    <input
      type="text"
      id="fusername"
      name="fusername"
      placeholder="Username"
      required
    />
  </div>
  <div>
    <label for="fusername">Password</label><br />
    <input
      type="password"
      id="fpassword"
      name="fpassword"
      placeholder="Enter a Password"
      required
    />
  </div>
  {% if error %}
  <div class="form-error">{{error}}</div>
  {% endif %} 
  <div id="form-submit">
    <input type="submit" value="Log In" />
  </div>
</form>
{% endblock %}
