{% extends 'base.html' %} {% block container %}
<div class="item">
  <div class="item-image">
    <img
      src="{{item.image_url}}"
      alt="{{item.name}}"
      referrerpolicy="no-referrer"
    />
  </div>
  <div id="item-content">
    <div id="item-primary">
      <p>{{item.name}}</p>
      <p>${{item.price}}</p>
    </div>
    <div id="item-details">
      <p><b>Description: </b>{{item.description}}</p>
      <p>
        Sold By:
        <a href="{{ url_for('view_user', username=item.username) }}">{{item.username}}</a>
      </p>
      {% if current_user.get_id() != item.user_id %}
      <a href="{{ url_for('offer', item_id=item._id) }}">Make Offer</a>
      {%endif%}
    </div>
  </div>
</div>
{%endblock%}
